{% extends "layout.html" %}
{% block title %}Cursos{% endblock %}
{% block body %}
<h1>Cursos</h1>
<main>
  <div class="wrapper">
    <ul id="courses_list">
      <li id="new_course_form">
        <div class="form-container">
          <form onsubmit="create_new_course(event)">
            <div class="form-group">
              <label for="name">Nombre del curso:</label>
              <input name="name" id="name" placeholder="tal" required>
            </div>
            <div class="form-group">
              <label for="credits">Créditos:</label>
              <input name="credits" id="credits" type="number" min="1" max="144" value="1"
                onchange="setPluralOrSingular()" required>
            </div>
            <div class="form-group">
              <button type="submit">Agregar</button>
            </div>
          </form>
        </div>
      </li>
    </ul>
  </div>
</main>
{% endblock %}
{% block script %}courses{% endblock %}