<!doctype html>
<html lang="es-AR">
<head>
  <title>{% block title %}{% endblock %}</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>
  <nav>
    <a href="{{ url_for('temporizador') }}">Temporizador</a>
    <a href="{{ url_for('materias') }}">Materias</a>
    <a href="{{ url_for('pomofiuba') }}">Pomodoro</a>
    <a href="{{ url_for('playlist') }}">Playlist</a>
  </nav>
  {% block body %}{% endblock %}
  {% block script %}
    <!-- Usa url_for para los archivos JavaScript -->
    
    <script src="{{ url_for('static', filename='temporizador.js') }}"></script>
  {% endblock %}
</body>
</html>
