{% extends "layout.html" %}
{% block title %}Timer{% endblock %}
{% block body %}
<div class="form-container">
  <div class="form-group">
    <label for="course-select">Selecciona un curso:</label>
    <select id="course-select" name="course_id"></select>
  </div>
</div>
<div class="wrapper">
  <div class="buttons time" onclick="changeStatus()">
    <span id="hours">00</span>
    <span class="colon">:</span>
    <span id="mins">00</span>
    <span class="colon">:</span>
    <span id="secs">00</span>
    <span class="colon ms-color">:</span>
    <span id="hundredths">00</span>
  </div>
  <div class="buttons">
    <button id="reset" onclick="reset()">🔄️</button>
  </div>
</div>
{% endblock %}
{% block script %}timer{% endblock %}